<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Comunitatea Group Meowing{{#metadata.title}} | {{.}}{{/metadata.title}}</title>

    {{! opengraph tags for social media }}
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="Group Meowing" />
    <meta property="og:image" content="https://www.group-meowing.ro/post/content/group-meowing.jpg" />
    <meta property="og:url" content="https://www.group-meowing.ro/{{metadata.relativePath}}" />
    <meta property="og:description" content="Group meowing este o comunitate de persoane trans feminine și nonbinare." />

    {{^metadata}}
    {{! if we don't have metadata, we assume we're rendering index }}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Comunitatea Group Meowing" />
    {{/metadata}}

    {{#metadata}}
    {{! we have metadata, customize the opengraph tags to suit }}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="article:publisher" content="https://tech.lgbt/@groupmeowing" />
    {{! TODO: this is wrong for tags, but not sure what date to use? }}
    <meta property="article:published_time" content="{{isoPublishDate}}" />
    {{/metadata}}
  </head>
  <body class="container">
    <nav>
      <ul>
        <li>
          <a href="/"> <strong>group meowing</strong> </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.instagram.com/groupmeowing/">
            <img src="/images/instagram.svg" alt="instagram logo" class="logo" />
          </a>
        </li>
        <li>
          <a href="https://tech.lgbt/@groupmeowing">
            <img src="/images/tech-lgbt.png" alt="tech.lgbt logo" class="logo" />
          </a>
        </li>
        <li>
          <a href="https://codeberg.org/group-meowing/website">
            <img src="/images/git.svg" alt="git logo" class="logo" />
          </a>
        </li>
      </ul>
    </nav>
