
{{>site/template/header.html}}

    <main>
      <article>
        <header>
          <hgroup>
            <h1>pagini cu tag-ul {{tagName}}</h1>
            <ul>
              {{#posts}}
                <li>
                  <a href="/post/{{id}}" class="secondary">{{title}}</a>
                </li>
              {{/posts}}
              {{#pages}}
                <li>
                  <a href="/page/{{id}}" class="secondary">{{title}}</a>
                </li>
              {{/pages}}
              {{#wikis}}
                <li>
                  <a href="/wiki/{{id}}" class="secondary">{{title}}</a>
                </li>
              {{/wikis}}
            </ul>
          </hgroup>
        </header>
      </article>
    </main>

{{>site/template/footer.html}}
