.right {
  text-align: right;
}

article img {
  width: 100%;
  max-width: 350px !important;
  float: left;
  margin-right: 0.7em;
}

.unlink {
  text-decoration: none;
  color: gray;
}

nav .logo {
  width: 26px !important;
}

aside {
  margin: 0.5em;
  background-color: rgb(19, 23, 20);
}

aside li {
  display: list-item;
}
